@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@font-face {
  font-family: "Miama";
  src: url("../font/Miama.ttf");
}
html {
  font-size: 18px;
}
body {
  font-family: "Inter", sans-serif;
  background-color: black;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.size {
  width: 80%;
  margin: 40px auto;
}
.primary-text{
  font-size: 2.67rem;
font-weight: 900;
color: rgb(255, 255, 255);
}
.text2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.89rem;
}

.secondary-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.78rem;
}

header {
  padding-top: 40px;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0.37),
    rgb(0, 0, 0)
  );
}
.primary-btn {
  border-radius: 42px;

  background: rgb(230, 83, 60);
  padding: 16px 40px;
  font-weight: 600;
  color: white;
  border: none;
  font-size: 1rem;
}
.secondary-btn {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 600;
  color: white;
  font-size: 1rem;
  padding: 16px 40px;
}
.secondary-btn:hover{
    cursor: pointer;
    filter: brightness(0.8);
}
.primary-btn:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

/* nev_section */

.nev {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.hamburg {
  display: none;
}
.nev-link ul {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 5px;
  padding-right: 20px;
}
.nev-link li {
  list-style: none;
}
.nev-link a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
}
.nev h3 {
  font-size: 2rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
}
.nev-btn {
  padding: 8px 20px;
  border: none;
  border-radius: 3rem;
  background: rgb(230, 83, 60);
  font-weight: 600;
  color: white;
  font-size: 1rem;
}
.nev button:hover {
  cursor: pointer;
}

/* banner-section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.banner-text h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 900;
  line-height: 120%;
  text-align: left;
}
.span {
  font-family: Miama;
  font-weight: 400;
  font-size: 8rem;
}
.banner-text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 50%;
}
.banner-btn {
  display: flex;
  gap: 14px;
}

.banner-card1 h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}
.banner-card2 h3 {
  font-size: 2rem;
  font-weight: 900;
  color: white;
}

.banner-card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 20px;
  width: 206px;
  height: 96px;
  position: absolute;
  bottom: 20%;
  right: 60%;
}
.banner-card2 p {
  white-space: nowrap;
}
.banner-card2 {
 
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 20px;
  position: absolute;
  top: 20%;
  left: 60%;
  width: 193px;
height: 110px;
}
.banner-image {
  position: relative;
}
.pic{
  width: 100%;
}


/* habit section */
.habit h3, .habit p{
  text-align: center;
}
.habit-card h6{
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.habit-card p{
  text-align: center;
}
.habit-card img{
 border-radius: 50%;
 border: 3px solid rgb(31, 31, 31);
 width: 100%;

}
.habit-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.habit-card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 80px;
}
.habit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.run{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;

background: rgb(34, 34, 34);
padding: 30px;
gap: 10%;

}
.run-text{
  display: flex;
  flex-direction: column;
 justify-content: space-between;
 gap: 20px;
  
}
.run-image {
  

  width: 50%;
  height: 312px;
  
}
.run-image img{
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;

 
}
.run-text button{
  width: 224px;
}
@media screen and (max-width: 576px) {
  html{
    font-size: 14px;
  }
  .nev{
    width: 90%;
  }
.size{
  width: 90%;

}
  .hamburg {
  display: unset;
}
.nev-link{
  display: none;
}
.banner{
  flex-direction: column;
}
.banner-card1{
  left: 0%;
   width: auto;
  height: auto;
  padding: 10px;
}
.banner-card2{
  right: 10%;
  left: auto;
  top: 30%;
  padding: 10px;
  width: auto;
  height: auto;
}
.banner-text{
  width: 100%;
}

.banner-text h1 {
  
  font-size: 2.5rem;
 
}
.span {
  
  font-size: 4rem;
}

.primary-btn {
  padding: 15px 30px;
}
.secondary-btn {
  padding: 15px 30px;
}

.habit-card-container{
  grid-template-columns: 1fr;
  gap: 40px;
  width: 60%;
}
.run{
  flex-direction: column;
  gap: 40px;
}
.run-image{
  height: auto;
  width: 100%;
}
}
@media screen and (max-width: 992px) and (min-width: 577px) {
  html{
    font-size: 16px;
  }
  .nev{
    width: 90%;
  }
  .banner{
    flex-direction: column;
  }
  .banner-text{
    width: 100%;
  }
  .habit-card-container{
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 80%;
  }
}
